{% extends "base.html" %}

{% block title %}
Favorites
{% endblock %}

{% block content %}

<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <div class="grid-x grid-padding-x">
      <div class="large-2 medium-1 cell"></div>

      <div class="large-8 medium-10 cell">
        <h1 class="text-center">{{ username }}'s Favorites</h1>
	      {% if noFaves %}
	      <p class="text-center">You have no favorites.  Click the Favorite switch on a school's profile to favorite it.</p>

	      {% else %}
	      <table>
	        <tr>
            <td>Name</td>
            <td>Link</td>
	          <td>Remove Favorite</td>
          </tr>
	        {% for id in schools %}
	        <tr>
	          <td>{{ schools[id] }}</td>
            <td><a class="button button-no-margin" href="{{ url_for('profile', school_id = id) }}">View</a></td>
	          <td><a class="button button-no-margin" href="{{ url_for('toggle_fave', school_id = id) }}">Remove</a></td>
          </tr>
	        {% endfor %}
        </table>
	      {% endif %}
      </div>
      
      <div class="large-2 medium-1 cell"></div>
    </div>
  </div>
</div>

{% endblock %}
