{% extends "base.html" %}

{% block title %}
{{ college.name }}
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h1>{{ college.name }}</h1>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-6 medium-6 cell responsive-embed">
    <iframe src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_API_KEY }}&q={{ college.name }},{{ college.city }}+{{ college.state }}" frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="large-6 medium-6 cell">
    <strong>Overview</strong>
    <table>
      <tr><td>Website</td><td><a href="{{ college.website }}">{{ college.website }}</a></td></tr>
      <tr><td>Location</td><td>{{ college.city }}, {{ college.state }}</td></tr>
      <tr><td>Average SAT</td><td>{{ college.satInfo[0] | int }}</td></tr>
      <tr><td>Average ACT</td><td>{{ college.actInfo[0] | int }}</td></tr>
      <tr><td>Undergraduate Enrollment</td><td></td></tr>
      <tr><td>Average Tuition</td><td>{{ college.avgPrice | format_currency }}</td></tr>
      <tr><td>Acceptance Rate</td><td>{{ college.admRate }}</td></tr>
      <tr>
    </table>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-12 cell callout">
    Callout
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-12 cell callout">
    Callout
  </div>
</div>
{% endblock %}
